#a{
    height: 11.415525114155251vh;
    line-height: 11.415525114155251vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#b{
    height: 22.831050228310502vh;
    line-height: 22.831050228310502vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#c{
    height: 19.025875190258752vh;
    line-height: 19.025875190258752vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#d{
    height: 19.025875190258752vh;
    line-height: 19.025875190258752vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#e{
    height: 38.051750380517504vh;
    line-height: 38.051750380517504vh;
}

#f{
    height: 38.051750380517504vh;
    line-height: 38.051750380517504vh;

}

#g{
    height: 38.051750380517504vh;
    line-height: 38.051750380517504vh;
}

#h{
    height: 38.051750380517504vh;
    line-height: 38.051750380517504vh;
}


#i{
    width: 200%;
    line-height: 12.1765601217656vh;
}

.grid1{
    display:grid;
    grid-template-columns:50% 50% ;
    display: grid;
    grid-column: 1/12;
}


@media (min-width: 768px){
    @media (max-width: 960px){
        #a{
            width: 100%;
            height: 30.441400304414003vh;
            line-height: 30.441400304414003vh;
        }
    
        #b{
            width: 100%;
            height:  91.32420091324201vh;
            line-height:  91.32420091324201vh;
        }

        #c{
            width: 100%;
            height: 30.441400304414003vh;
            line-height: 30.441400304414003vh;
        }
    
        #d{
            width: 100%;
            height: 30.441400304414003vh;
            line-height: 30.441400304414003vh;
        }
    
        #e{
            width: 100%;
            height: 38.051750380517504vh;
            line-height: 38.051750380517504vh;
        }
    
        #f{
            width: 100%;
            height: 38.051750380517504vh;
            line-height: 38.051750380517504vh;
        }
    
        #g{
            width: 100%;
            height: 38.051750380517504vh;
            line-height: 38.051750380517504vh;
        }
    
        #h{
            width: 100%;
            height: 38.051750380517504vh;
            line-height: 38.051750380517504vh;
        }
    
        #i{
            width: 100%;
            height: 22.831050228310502vh;
            line-height: 22.831050228310502vh;
            display: grid;
            grid-column: 1/12;
        }

        .grid1{
            display: grid;
            grid-template-columns:20% 20% 20% 20%;
            grid-area: right;
            justify-content: end;
            margin-top: -60.841705vh;
        }
            

        .grid2{
            display:grid;
            grid-template-columns:20% 40% 40% ;
        }
    }}

   
