#a{
    background-color: red;
}

#b{
    background-color: yellow;
}

#c{
    background-color: chartreuse;
}

#d{
    background-color: blue;
}

#e{
    background-color: gold;
}

#f{
    background-color: gray;
}

#g{
    background-color: green;
}

#h{
    background-color: blueviolet;
}

#i{
    background-color: purple;
}


@media (min-width: 768px){
    @media (max-width: 960px) {
        #a{
            background-color: cadetblue;
        }
    
        #b{
            background-color: darkcyan;
        }
    
        #c{
            background-color: violet;
        }
    
        #d{
            background-color:aquamarine;
        }
    
        #e{
            background-color: darkred;
        }
        #f{
            background-color: fuchsia;
        }
        #g{
            background-color: greenyellow;
        }
        #h{
            background-color: darkorange;
        }
        #i{
            background-color: blue;
        }
      }}

@media (min-width: 961px){        
    #a{
        background-color: rgb(229, 151, 151);
        }
        
     #b{
        background-color: rgb(189, 88, 88);
        }
        
        #c{
            background-color: rgb(131, 17, 131);
        }
        
        #d{
            background-color:rgb(23, 97, 72);
        }
        
        #e{
            background-color: rgb(65, 23, 23);
        }
        #f{
            background-color: rgb(38, 37, 102);
        }
        #g{
            background-color: rgba(148, 158, 8, 0.692);
        }
        #h{
            background-color: rgb(81, 100,0, 25);
        }
        #i{
            background-color: rgb(32, 163, 60);
        }
    }